.add-recipe-view {
    position: absolute;
    width: 40%;
    left: 10%;
    top: 5%;


    .recipe-container {
        margin-bottom: 10px;
    }

    .ingredients-container {
        margin-bottom: 10px;
    }
}
    

